.canvasContentWrap {
  :global {
    .Crosshair {
      cursor: crosshair !important;
      .leaflet-interactive {
        cursor: crosshair !important;
      }
    }
    .Grab {
      cursor: grab !important;
    }
    .leaflet-popup-content {
      width: 180px !important;
      .contentText {
        font-size: 18px;
        text-align: center;
      }
    }
  }
  .popupBtnWrap {
    margin-top: 10px;
    text-align: center;
  }
}
