.dataSetList {
  .actions a {
    margin-right: 10px;
  }
  .serachWrap {
    float: right;
    margin-bottom: 16px;
    :global {
      .ant-input-search .ant-input-wrapper {
        width: 250px;
        margin-right: 16px;
      }
      .ant-input-group-wrapper {
        width: inherit;
      }
    }
  }
  :global {
    .ant-page-header-heading-left, .ant-page-header-heading-title {
      width: 100%;
    }
  }
}

:global {
  .convertSelect {
    width: 300px;
  }
}
